<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">{% block masthead_title %}NowLoading...{% endblock %}</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">{% block masthead_subtitle %}A Scheduling App and blog for MaineDaddy and his Rush Pup!{% endblock %}</h2>
                {% block masthead_button %}
                <a class="btn btn-primary" href="#signup">Attend the next Cumdump!</a>
                {% endblock %}
            </div>
        </div>
    </div>
</header>
