<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        {% block projects_content %}
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ url_for('static', filename='greyscale_template/assets/img/BostonWestinSeaportDistrict.png') }}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Boston Westin Seaport District 9/17-9/18</h4>
                    <p class="text-black-50 mb-0">We'll be staying at the Boston Westin Seaport District.  Check out the schedule below to see when pup's holes are available.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{{ url_for('static', filename='greyscale_template/assets/img/PortlandMaine.png') }}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Portland Maine - 9/19-9/20</h4>
                            <p class="mb-0 text-white-50">We'll be staying at my place in Portland.  Check out the schedule below to see if pup will be taking loads.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{{ url_for('static', filename='greyscale_template/assets/img/TPL.png') }}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Twin Ponds </h4>
                            <p class="mb-0 text-white-50">Pup's holes will be fully open while we're at TPL.  Text Maine daddy if you're around and want a turn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</section>
